*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important; 
  width: 1px !important; 
  overflow: hidden;
}

body {
  padding: 0;
  margin: 0;

  font-family: "PT Sans", Tahoma, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

.wrapper {
  display: flex;
  width: 960px;
  padding: 0 10px;
  margin: 0 auto;

  position: relative;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
}

.split-sections {
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 86px;
}

/* Стили первого уровня меню */

.header {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  background-color: #f4f7f9;
}

.header-top {
  background-color: #293449;

  min-height: 42px;
  margin-bottom: 46px;
}

.logo {
  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
}

.logo:hover,
.logo:focus {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}

.header-logo {
  position: absolute;

  width: 220px;
  height: 47px;

  justify-content: center;
}

.header-logo img {
  margin-bottom: 2px;
}

.search {
  margin-left: 220px;
}

.search-field {
  height: 42px;
  width: 270px;
  padding-left: 18px;

  background: #293449;
  border: none;
}

.search-field:hover {
  background-color: #212a3a;
}

.search-field:focus,
.search-field:active {
  color: #000000;
  background-color: #ffffff;
}

.header-link {
  width: 150px;
  padding-left: 18px;

  color: #ffffff;
}

.header-link:hover,
.header-link:focus {
  background-color: #212a3a;
}

.header-link:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.header-top a {
  display: flex;
  align-items: center;
}

.header-link.header-checkout {
  padding: 0;
  justify-content: center;
}

.header-checkout {
  background-color: #63a63e;
}

.not-empty {
  background-color: #ee3643;
}

.header-checkout:hover,
.header-checkout:focus {
  background-color: #5fbb2d;
}

.header-checkout:active {
  background-color: #518534;
}

/* Второй уровень меню */

.header {
  background-color: #f4f7f9;
}

.header-middle {
  margin-bottom: 40px;
  justify-content: space-between;
}

.header-description {
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  color: #ee3643;

  width: 220px;

  padding: 0;
  margin: 0;
  margin-left: 50px;
}

.header-contacts {
  width: 270px;

  display: flex;
  flex-direction: column;

  text-align: center;
}

.header-phone {
  text-align: center;
  font-size: 21px;
  line-height: 21px;
  color: #e9292a;
  
  border: 3px solid #ffffff;
  padding: 9px;
}

.header-phone:hover,
.header-phone:focus {
  color: #ca2c37;
}

.header-phone:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-address {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;

  margin-top: 4px;
}

.header-profile {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 310px;
}

.account-button {
  font-size: 21px;
  line-height: 21px;
  background-color: #ffffff;

  padding: 12px 24px;
  margin-left: 10px;

  color: #000000;
}

.account-button:hover,
.account-button:focus {
  color: #EE3643;
}

.account-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.logged-in {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.account-logout {
  padding-right: auto;
}

.account-options {
  margin-top: 4px;
  margin-left: 16px;
}

.account-options a {
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
  color: #32425c;
  margin: 0 14px;
}

.account-options a:hover,
.account-options a:focus {
  color: #ee3643;
}

.account-options a:active {
  color: rgba(50, 66, 92, 0.3);
}

/* Навигация */

.header-navigation {
  font-size: 17px;
  line-height: 17px;
  box-shadow: inset 0px -5px 0 0 #293449;
  background-color: #32425c;

  width: 940px;
  min-height: 60px;
  margin-bottom: 60px;

  display: flex;
}

.header-navigation-items {
  list-style: none;

  display: flex;
  align-items: center;
  flex-wrap: wrap;

  padding: 0;
  margin: 0 auto;
}

.header-navigation-items li {
  padding: 21px 0;
}

.header-navigation-items a {
  color: #ffffff;
  padding: 20px 30px;
}

.header-navigation-items a:hover,
.header-navigation-items a:focus {
  background-color: #293449;
}

.header-navigation-items a:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

/* Основной контент */

.main-about {
  width: 540px;
  
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
}

.main-contacts {
  width: 300px;
  
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
}

.map-popup {
  margin-top: 20px;
  margin-bottom: 40px;
}

.section-heading {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;

  text-transform: uppercase;

  margin: 0;
  padding: 0;
  padding-bottom: 16px;
}

.breadcrumbs-list {
  display: flex;

  list-style: none;

  margin: 0;
  padding: 24px 0;
}

.breadcrumb,
.breadcrumb-current {
  font: inherit;
  color: #000000;
  font-size: 13px;
  line-height: 18px;

  text-transform: uppercase;

  margin-right: 18px;
}

.breadcrumb:hover,
.breadcrumb:focus {
  color: #ee3643;
}

.breadcrumb:active {
  color: rgba(0, 0, 0, 0.3);
}

.inner-heading {
  background-color: #f2f6f8;
  color: #32425c;
  
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;

  text-transform: uppercase;

  width: 940px;
  padding: 30px;
  margin: 0;
  margin-bottom: 20px;
}

.filters {
  width: 220px;
  margin-right: 20px;
}

.filter-heading {
  font-family: "PT Sans", Tahoma, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;

  color: #000000;
  background-color: #f7f3ec;

  margin: 0;
  padding: 12px 18px 8px;
  margin-bottom: 20px;
}

.filter-heading.sorting {
  width: 700px;
}

.about-delivery-companies {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;

  list-style: none;

  padding: 0;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 40px;
}

.about-delivery-companies li {
  margin-bottom: 21px;
}

.about-delivery-companies li:last-child {
  margin-bottom: 0;
}

.button {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;

  text-transform: uppercase;

  background-color: #ee3643;
  color: #ffffff;

  border: none;
  border-radius: 4px;

  padding-top: 10px;
  padding-bottom: 10px;
}

.main-about .button {
  width: 220px;
}

.main-contacts .button {
  width: 300px;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.filter-fieldset {
  border: none;

  margin: 0;
  padding: 0;

  font-family: "PT Sans", Tahoma, sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}

.filter-input-group {
  border-top: 1px solid #e5e5e5;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;

  width: 100%;
  padding-top: 20px;
  padding-bottom: 16px;
}

.filter {
  list-style: none;

  margin: 0;
  padding: 0;
}

.filter-option {
  margin-bottom: 16px;
}

.filter-option:last-child {
  margin-bottom: 20px;
}

.filter-input:disabled {
  color: rgba(0, 0, 0, 0.4);
}

.filter-button {
  font: inherit;
  font-size: 13px;
  line-height: 18px;
  color: #000000;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;

  border-radius: 4px;

  margin-top: 55px;
  width: 140px;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #ffffff;
  border: 1px solid #bdc6ca;
}

.filter-button:active {
  background-color: #ffffff;
  border: 1px solid #ee3643;
}

/* Карточки товара */

.catalog-list {
  display: flex;
  flex-wrap: wrap;

  width: 700px;

  list-style: none;

  margin: 0;
  padding: 0;
  padding-bottom: 32px;
}

.catalog-item {
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 4px;

  width: 220px;
  margin-bottom: 20px;
  margin-right: 20px;

  text-align: center;

  position: relative;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-item:hover .catalog-item-buttons {
  opacity: 1;
}

.catalog-item h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.catalog-item a {
  font-family: "PT Sans", Tahoma, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
}

.catalog-item a:hover,
.catalog-item a:focus {
  color: #ee3643;
}

.catalog-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-item-image {
  order: -1;
  margin: 0;
  padding: 0;
}

.catalog-item-price {
  font-family: "PT Sans", Tahoma, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;

  margin-top: 0;
  margin-bottom: 21px;

  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
}

.price-old {
  color: #999999;
  text-decoration: line-through;
  margin-bottom: 10px;
}

.price-new {
  color: #ffffff;
  background-color: #ee3643;
  padding: 10px 16px 10px 36px;
}

.catalog-item-buttons {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;

  text-transform: uppercase;

  background-color: #ffffff;
  opacity: 0;

  position: absolute;
  width: 218px;
  height: 170px;

  margin: 0;
  padding: 42px;
  padding-top: 44px;
}

.button.catalog-item-button-buy {
  font:inherit;
  color: #ffffff;

  box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #63a63e;
  border-radius: 4px;
  margin-bottom: 8px;
}

.button.catalog-item-button-buy:hover,
.button.catalog-item-button-buy:focus {
  background-color: #5fbb2d;
  color: #ffffff;
}

.button.catalog-item-button-buy:focus {
  background-color: #518534;
  color: #ffffff;
  box-shadow: none;
}

.button.catalog-item-button-bookmark {
  font:inherit;
  color: #32425c;

  background: none;
  border: 3px solid #63a63e;

  padding: 7px 0;
}

.button.catalog-item-button-bookmark:hover,
.button.catalog-item-button-bookmark:focus {
  color: #32425c;

  background: none;
  border: 3px solid #32425c;
}

.button.catalog-item-button-bookmark:active {
  color: rgba(50, 66, 92, 0.3);

  background: none;
  border: 3px solid rgba(50, 66, 92, 0.3);
}

.label-new {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
}

.pagination-list {
  display: flex;
  list-style: none;

  text-transform: uppercase;

  padding: 0;
  margin: 0;
  margin-bottom: 60px;
}

.pagination-list .filter-button {
  display: inline-block;
  width: 38px;
  padding: 9px 0 10px;
  margin: 0;
  margin-right: 10px;

  text-align: center;
}

.filter-button.pagination-current,
.pagination-current:hover,
.pagination-current:focus,
.pagination-current:active {
  border: none;
  background-color: #ee3643;
  color: #ffffff;

  padding: 10px 0 11px;
}

.filter-button.pagination-next {
  width: 140px;
}

.catalog-article {
  background-color: #f4f7f9;
  margin: 0;
  padding: 0;
  padding-top: 62px;
  padding-bottom: 70px;
}

.catalog-article p {
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

/* Стилизация подвала */

.footer {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;

  background-color: #32425c;
}

.footer-logo {
  width: 220px;
  height: 68px;
  padding: auto 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-top {
  justify-content: space-between;
}

.footer-navigation-items {
  list-style: none;

  display: flex;
  justify-content: flex-end;

  padding: 0;
  margin: 0;
  margin-top: 40px;
  width: 700px;
}

.footer-navigation-items a {
  color: #ffffff;
  margin-left: 60px;
}

.footer-navigation-items a:hover,
.footer-navigation-items a:focus {
  text-decoration: underline;
}

.footer-navigation-items a:active {
  opacity: 0.5;
}

.footer-middle {
  justify-content: space-between;
}

.footer-contacts {
  width: 380px;
  margin: 0;
  margin-top: 40px;
}

.footer-links {
  list-style: none;

  display: flex;
  justify-content: flex-end;


  padding: 0;
  margin: 0;
  margin-top: 40px;
  width: 540px;
}

.footer-links a {
  margin-left: 60px;
}

.footer-links a,
.footer-bottom-link {
  color: #ffd180;
}

.footer-links a:hover,
.footer-links a:focus,
.footer-bottom-link:hover,
.footer-bottom-link:focus {
  text-decoration: underline;
}

.footer-links a:active {
  opacity: 0.5;
}

.footer-bottom-link:active {
  color: #ee3643;
}

.footer-bottom {
  background-color: #293449;

  font-size: 16px;
  line-height: 18px;

  padding: 20px 0;
  margin-top: 50px;
}

.footer-copyright {
  width: 380px;
  margin-right: 10px;
}

.footer-social {
  display: flex;

  list-style: none;

  padding: 0;
  margin: auto 0;
}

.social-button {
  display: block;

  background-color: #212a3a;

  width: 42px;
  height: 42px;
  border-radius: 50%;

  margin-right: 4px;
}

.social-button:hover,
.social-button:focus,
.social-button:active {
  background-color: #ee3643;
}

.footer-mailto {
  margin-right: 50px;
  margin-left: auto;
}

.footer-developer {
  margin-right: 15px;
}

/* Стилизация модальных окон */

.modal {
  background-color: #ffffff;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);

  margin: 0 auto;
  position: relative;
}

.modal-close {
  position: absolute;
  top: 9px;
  right: 9px;
}

.modal-container {
  padding: 50px 80px 0 80px;
}

.modal-write {
  width: 620px;

  border-top: 7px solid #FF5357;
}

.write-form,
.modal-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.write-form .wrapper {
  flex-direction: column;
  padding: 0;
  margin-bottom: 18px;
  width: 220px;
}

.wrapper.full-width {
  width: 100%;
  margin-bottom: 0;
}

.write-label {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  padding-bottom: 8px;
}

.write-field {
  border: solid 2px #d7dcde;
  border-radius: 4px;

  padding: 8px 16px;
  width: auto;

  font: inherit;
  font-size: 13px;
  line-height: 18px;
}

.write-field:hover {
  border: solid 2px #b5b5b5;
}

.write-field:focus,
.write-field:active {
  border: solid 2px #ee3643;
}

.write-text {
  min-height: 114px;
  padding-bottom: 0;
  margin-bottom: 36px;
}

.modal-button-container {
  background-color: #f4f4f4;
  width: 100%;

  padding: 36px 80px;
}

.modal-button-container .button {
  width: 100%;
}

.modal-map {
  width: 940px;
  height: 446px;
}

.modal-map p {
  margin: 0;
  padding: 0;
}

.button-continue {
  background-color: #ffffff;
  color: #000000;
}

.button-continue:hover,
.button-continue:focus {
  background-color: #ffffff;
  color: #ee3643;
}

.button-continue:active {
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.3);
}

.modal-caption {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-align: center;

  margin: 0;
  padding: 48px 0;
}

.modal-success-buttons {
  display: flex;
  justify-content: space-between;
}

.modal-success-buttons .button {
  width: 220px;
}